# Dependencies
node_modules/

# CDK
cdk.out/
*.d.ts
!jest.config.d.ts
!jest.config.js

# Build
dist/
build/

# Env / secrets
.env
.env.local
respuesta.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kiro (si genera artefactos locales de sesión que no quieras versionar)
.kiro/cache/